// Main Sass File
@fontface{
  font-family: mdilias41;
  src: url(../docs\fonts\PlayfairDisplaySC-Bold.ttf);
}

$body-bg:#333;
$font-color:#fff;
$primary-color:#155a82;
$icon-font-size:30px;
body{ font-family: mdilias41;
  background: $body-bg;
  color: $font-color;

  .navbar{
    border-bottom: 3px solid $primary-color ;
    background: white;
    .navbar-brand{

      a{text-decoration: none;
        img{width: 70px;
        height: 70px;

    display:inline-block;
  }

      h2{
        color:red;
        small{color:blue;}
      }
      span{position: relative;
      padding-bottom:10px;
    padding-top:3px;}
    }

    }
}

.navbar-brand h2:after{
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 2px;
  background: red;
  transform: scaleX(0);
  transform-origin: right;

}

.navbar-brand h2:hover:after{

  transform: scale(1);
  transition:1s;

}
.navbar-brand h2:before{
  content: '';
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  height: 2px;
  background: red;
  transform: scaleX(0);
  transform-origin: left;

}

.navbar-brand h2:hover:before{

  transform: scale(1);
  transition:1s;

}



  #home-section{
    background: url('../images/mountains.jpg') no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
  .dark-overlay{
    background: rgba(0,0,0,0.7);
    min-height: 700px;
  }
  .home-inner{padding-top:150px;
  padding-bottom: 20px;
  }
  .card-form{opacity: 0.8; margin-top: 15px;}
  .fa{background: #fff;
  color:$primary-color;
  padding: 4px;
  border-radius: 5px;
  font-size: $icon-font-size;}
  }
  #explore-main-section{
      .fa{color:$font-color; padding: 5px;}

  }
}


@media(max-width:768px){
 .home-inner h1{font-size: 50px;}
}
